<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ios title-ios hydrated">Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" class="ion-no-margin ion-no-padding ios list-ios list-lines-full list-ios-lines-full hydrated">
    <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
      <ion-item lines="full">
        <ion-label position="floating">Username</ion-label>
        <ion-input formControlName="username" type="text" required></ion-input>
      </ion-item>

      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated" 
        color="danger" *ngIf="loginForm.controls.username.touched" style="text-align:center;">
          <h5 *ngIf="loginForm.controls.username.hasError('required')">
            El nombre de usuario es requerido</h5>
      </ion-label>

      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password" required></ion-input>
      </ion-item>

      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated" color="danger" 
        *ngIf="loginForm.controls.password.touched" style="text-align:center;">
        <h5 *ngIf="loginForm.controls.password.hasError('required')">
          La contraseña es requerida</h5>
        <h5 *ngIf="loginForm.hasError('minlength', 'password')">
          La contraseña debe tener al menos 6 caracteres</h5>
      </ion-label>

      <ion-row >
        <ion-col>
          <ion-text *ngIf="isLoginFailed && errorMessage" color="danger" style="text-align:center;">
            <h6>{{ errorMessage }}</h6>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Sign In</ion-button>
          <a [routerLink]="['/forgot-password']" style="text-align:center;">
            <h6>Forgot Password?</h6>
          </a>
        </ion-col>
      </ion-row>


    </form>
  </ion-list>
</ion-content>