<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Restablecer la contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="forgotForm" (ngSubmit)="sendEmailRequest($event)">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Enviar</ion-button>
      </ion-col>
    </ion-row>

    <ion-row style="text-align:center;">
      <ion-col>
        <small>
          Por favor escriba el correo electrónico que usó cuando creó su cuenta de usuario.
        </small>
      </ion-col>
    </ion-row>
  </form>
</ion-content>