<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Escribir Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-text-center">
    <ion-col>
      <small>
        Por favor escriba la nueva contraseña, la contraseña debe tener al menos 6 caracteres.
      </small>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="center">
      <form [formGroup]="passwordForm" (ngSubmit)="sendEmailData($event)">
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated" color="danger"
          *ngIf="passwordForm.controls.password.touched" style="text-align:center;">
          <h5 *ngIf="passwordForm.controls.password.hasError('required')">
            La contraseña es requerida</h5>
          <h5 *ngIf="passwordForm.hasError('minlength', 'password')">
            La contraseña debe tener al menos 6 caracteres</h5>
        </ion-label>

        <ion-item>
          <ion-label position="floating">Confirmar contraseña</ion-label>
          <ion-input type="password" formControlName="confirm"></ion-input>
        </ion-item>

        <ion-row class="ion-text-center">
          <ion-col>
            <ion-button type="submit" color="danger" expand="full" shape="round">Enviar</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
</ion-content>