<ion-content>
  <ion-row class="ion-text-center">
    <ion-col>
      <h1>POLÍTICA DE PRIVACIDAD</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <p>
        La presente Política de Privacidad establece los términos en que YoEntroALaU usa y protege la información
        que es proporcionada por sus usuarios al momento de utilizar su aplicación o sitio web.
        Este proyecto está comprometido con la seguridad de los datos de sus usuarios.
        Cuando le pedimos llenar los campos de información personal con la cual usted pueda ser identificado,
        lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento.
        Sin embargo esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que
        le recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo
        con dichos cambios.
      </p>
      <h2>Información que es recogida</h2>
      <p>
        Nuestro sitio web podrá recoger información personal por ejemplo: nombre, profesión,
        universidad a la que pertenece e información de contacto
        como su dirección de correo electrónico e información demográfica.
      </p>
      <h2>Uso de la información recogida</h2>
      <p>
        Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible,
        particularmente para mantener el acceso a su cuenta. Es posible que sean enviados correos electrónicos
        de reestablecimiento de contraseña, confirmación de correo electrónico, entre otros.
      </p>
      <h2>Enlaces a terceros</h2>
      <p>
        Este sitio web pudiera contener en laces a otros sitios que pudieran ser de su interés. Una vez que usted
        de clic en estos enlaces y abandone nuestra página, ya no tenemos control sobre al sitio al que es redirigido
        y por lo tanto no somos responsables de los términos o privacidad ni de la protección de sus datos en
        esos otros sitios terceros. Dichos sitios están sujetos a sus propias políticas de privacidad por lo
        cual es recomendable que los consulte para confirmar que usted está de acuerdo con estas.
      </p>
      <h2>Control de su información personal</h2>
      <p>
        Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su consentimiento,
        salvo que sea requerido por un juez con un orden judicial.
      </p>
      <h2>Validez de la política</h2>
      <p>
        Yo entro a la U se reserva el derecho de cambiar los términos de la presente Política de Privacidad
        en cualquier momento.
      </p>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  <ion-row class="ion-text-center">
    <ion-col>
      <div style="margin: 0%; padding: 0%;">
        <ion-img src="assets/img/logo.png" style="width:20%; margin: auto; display: block;"></ion-img>
      </div>
    </ion-col>
  </ion-row>
</ion-content>