<ion-card style="margin: 4%; padding: 0%;">
  <ion-row>
    <!--<img src="https://res.cloudinary.com/og-tech/image/upload/q_40/v1506850322/blog_g3mexb.jpg">-->
    <ion-card-header>
      <ion-row *ngIf="showAvatar">
        <ion-col size="3">
          <ion-avatar class="avatar-style" >
            <img [src]="processProfilePic(post.user)">
          </ion-avatar>
        </ion-col>
        <ion-col size="9">
          <h5 class="user-title-style">{{ processName(post.user) }}</h5>
          <p  class="datetime-style">{{ substractTime(post.createdAt) }}</p>
        </ion-col>
      </ion-row>

      <ion-card-title mode="md" [ngClass]="{'set-margin-top': !showAvatar}" (click)="openPost(post)">
        {{ post.title }}
      </ion-card-title>
      <p  class="datetime-style" *ngIf="!showAvatar" style="margin-left: 2%;">
        {{ substractTime(post.createdAt) }}
      </p>
    </ion-card-header>
    <ion-card-content style="width: 98%; margin-bottom: 1%;"
      (click)="openPost(post)">
      <p>
        <span [innerHTML]="processContent(post)"></span>
        <b *ngIf="!isFullView && checkWrapping(post.content)" >
          <i>... Ver más</i>
        </b>
      </p>

      <ion-list  *ngIf="isFullView && post?.files?.length > 0" mode="ios" class="ion-no-padding">
        <ion-label><h4 style="margin: 0%; padding: 5px;">
          Archivos Adjuntos <ion-icon name="attach-outline"></ion-icon>
          <span style="font-size: 10px;">{{' '}}<i>{{(post?.files?.length) + ' Archivos'}}</i>
          </span>
        </h4></ion-label>
        <ion-slides [options]="slideOpts" pager="true">
          <ion-slide *ngFor="let uploadedFile of post?.files" 
            class=" border:4px solid white; border-radius:2%;" style="width: 100%; height: 100%;">
            <ion-label class="ion-no-padding">
              <a href="#" style="font-size: 12px; margin: 5px; padding: 0%;"
                (click)="openBrowserLinks(uploadedFile.firestoreDownloadLink)">
                Abrir <ion-icon name="open-outline"></ion-icon>
              </a>
              <p style="font-size: 12px; margin: 5px; padding: 0%; word-break: break-all;">
                <ion-icon name="document-attach-outline"></ion-icon>
                {{uploadedFile.fileName}}
              </p>
            </ion-label>
          </ion-slide>
        </ion-slides>
      </ion-list>
      
    </ion-card-content>
  </ion-row>

      <ion-row  id="grouped-reactions-container" 
          *ngIf="_observableReactionList | async as reactionList">
       <ng-container *ngIf="showReactCtnr">
         <ion-avatar class="show-reactions-size" *ngFor="let orderReaction of reactionService.orderReactions(reactionList); index as i">
          <img src="/assets/img/reactions/like.png" *ngIf="orderReaction.type == 1">
          <img src="/assets/img/reactions/love.png" *ngIf="orderReaction.type == 2">
          <img src="/assets/img/reactions/haha.png" *ngIf="orderReaction.type == 3">
          <img src="/assets/img/reactions/wow.png" *ngIf="orderReaction.type == 4">
          <img src="/assets/img/reactions/sad.png" *ngIf="orderReaction.type == 5">
          <img src="/assets/img/reactions/angry.png" *ngIf="orderReaction.type == 6">
        </ion-avatar>
       </ng-container>
        <ion-avatar *ngIf="!showReactCtnr"  class="show-reactions-size">
          <img src="/assets/img/reactions/like.png">
        </ion-avatar>
        <p style="margin-top: 2%; margin-left: 1%;">{{ reactionList.length > 0 ? reactionList.length : ''}}</p>
        <p style="margin: 1% 0% 0 5%; padding: 0; cursor: pointer; font-size: 12px;" 
          (click)="showComments()" >
          {{ post.childComments?.length > 0 ? post.childComments.length + (post.childComments.length == 1 ? ' Comentario' : ' Comentarios') : '' }}
          <ion-icon style="margin: 0%" name="chatbox-ellipses-outline"></ion-icon> 
        </p> 
      </ion-row> 
      
      <!--
      <p>Like {{reactionService.countReactionType(reactionList, reactionConstants.reactionLikekey)}}</p>
      <p>Love {{reactionService.countReactionType(reactionList, reactionConstants.reactionLoveKey)}}</p>
      -->


  <ion-row style="margin: 0%; padding: 0%;">
    <p style="margin: 0 0 0 5%; padding: 0;  cursor: pointer;" (click)="showComments()">Ver Comentarios</p>
  </ion-row>
  
  <ion-row id="interaction">
    <ion-col size="2">
      <ion-fab id="reaction-container" vertical="top" horizontal="start" 
        *ngIf="showReactCtnr">
        <ion-fab-button size="small" id="react-selector">
          <ion-icon name="thumbs-up-outline"></ion-icon>
        </ion-fab-button>
          <ion-fab-list side="end">
             <ion-fab-button size="small" id="like-selector" (click)="checkReaction(reactionConstants.reactionLikekey)" mode="md">
             </ion-fab-button>
             <ion-fab-button size="small" id="love-selector" (click)="checkReaction(reactionConstants.reactionLoveKey)" mode="md">
             </ion-fab-button>
             <ion-fab-button size="small" id="haha-selector" (click)="checkReaction(reactionConstants.reactionHahaKey)" mode="md">
             </ion-fab-button>
             <ion-fab-button size="small" id="wow-selector" (click)="checkReaction(reactionConstants.reactionWowKey)" mode="md">
             </ion-fab-button>
             <ion-fab-button size="small" id="sad-selector" (click)="checkReaction(reactionConstants.reactionSadKey)" mode="md">
             </ion-fab-button>
             <ion-fab-button size="small" id="angry-selector" (click)="checkReaction(reactionConstants.reactionAngryKey)" mode="md">
             </ion-fab-button>
          </ion-fab-list>
      </ion-fab>
      <ion-fab-button size="small" *ngIf="!showReactCtnr" class="like-container">
        <ion-icon name="thumbs-up-outline"
          (click)="checkReaction(reactionConstants.reactionLikekey)">
        </ion-icon>
      </ion-fab-button>
    </ion-col>

    <ion-col size="7">
      <ion-item  id="comment-input">
        <ion-textarea auto-grow="true" id="textbar" type="text" lines="1" 
          [(ngModel)]="tmpComment" placeholder="Escribe un comentario" mode="ios">
        </ion-textarea>
      </ion-item>
    </ion-col>

    <ion-col size="3">
        <ion-button style="margin: 0%; padding: 1%; font-size: 12px; width: 100%;"
          (click)="saveComment()" mode="ios" >
          Enviar
          <ion-icon slot="end" name="star"></ion-icon>
        </ion-button>
    </ion-col>
   
  </ion-row>
</ion-card>