<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Admin Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [fixed]="true" class="ion-grid-padding-xs">
    <ion-row justify-content-center>
      <ion-col size="12">
        <div class="ion-text-center">
          <h4>Panel de Administración</h4>
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h2>Agregar Carrera</h2>
            <ion-button (click)="agregarCarrera()" expand="block" color="primary" size="small">Abrir</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h3>Agregar Categoría de Carrera</h3>
            <ion-button (click)="agregarCategoria()" expand="block" color="primary" size="small">Abrir</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h3>Agregar Universidad</h3>
            <ion-button (click)="agregarUniversidad()" expand="block" color="primary" size="small">Abrir</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h3>Agregar Páginas Oficiales</h3>
            <ion-button (click)="agregarPaginasOficiales()" expand="block" color="primary" size="small">Abrir</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h2>Agregar Pénsum</h2>
            <ion-button (click)="agregarPensum()" expand="block" color="primary" size="small">Abrir</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>