<ion-content color="light">
  <div>
    <!--<ion-img src="/assets/img/home-landing/campus.jpg" *ngIf="!isCarrerItemAvailable"></ion-img>-->
    <ion-title class="ion-text-center upper-title-style"  *ngIf="!isCarrerItemAvailable" mode="md">
      <!--<h2 style="margin: 0%; width: 100%;"><b>Yo entro a la U</b></h2>-->
      <div style="margin: 0%; padding: 0%;">
        <ion-img src="assets/img/logo.png" style="width:55%; margin: auto; display: block;"></ion-img>
      </div>
    </ion-title>
    <ion-searchbar type="search" debounce="500" color="light" [ngStyle]="{'margin-top': !isCarrerItemAvailable ? '0%' : '10%'}"
      (ionChange)="getCareerItems($event)" placeholder="Buscar carrera" animated mode="ios">
    </ion-searchbar>
  </div>
  
  <ion-list class="ios list-ios hydrated" *ngIf="isCarrerItemAvailable">
      <ion-item *ngIf="findedCareerItems.length < 1">No existen elementos para la búsqueda</ion-item>
      <ion-item *ngFor="let careerItem of findedCareerItems" (click)="handleCareerClick(careerItem)">
        {{ careerItem.title }}</ion-item>
  </ion-list>

  <div *ngIf="!isCarrerItemAvailable">
    <!-- ESTO SE MUESTRA AL INICIO Y SI NO HAY ELEMENTOS ENCONTRADOS -->
  
    <ion-list class=""> <!--instagram-bg-->
      <ion-title class="title-style ion-text-center"  mode="md"> <!--orange-bg-->
        <h4 style="margin: 0%;">Carreras</h4>
      </ion-title>
      <ion-title class="title-style ion-text-center"  mode="md">
        <p style="margin: 0%; font-size: 10px;" (click)="verMasPosts()">Selecciona una categoría...</p>
      </ion-title>
      <ion-spinner name="dots" *ngIf="categoryList?.length < 1" style="width: 100%"></ion-spinner>
      <ion-slides [options]="slideOptsCat" pager="true" mode="ios" style="width: 100%;" class="">
        <ion-slide *ngFor="let catItem of categoryList" (click)="handleCategoriesClick(catItem)">
          <ion-card class="bg-2">
            <!--<img [src]="catItem.topImg" />-->
            <ion-card-content>
              <ion-row>
                <ion-col size="4">
                  <img [src]="catItem.topImg" style="border-radius: 10%;"/>      
                </ion-col>
                <ion-col size="8">
                  <h5 class="card-text ion-text-align-left">{{catItem.title}}</h5>
                  <h6 class="card-text ion-text-align-left" style="font-size: 10px;">Click aquí</h6>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>

      <ion-title class="title-style ion-text-center"  mode="md"> <!--green-bg-->
        <h4 style="margin: 0%;">Material de Estudio</h4>
      </ion-title>
      <ion-title class="title-style ion-text-center"  mode="md">
        <p style="margin: 0%; font-size: 10px;" (click)="verMasPosts()">Ver más...</p>
      </ion-title>
      <ion-spinner name="dots" *ngIf="materialList?.length < 1" style="width: 100%"></ion-spinner>
      <ion-slides [options]="slideOpts" pager="true" mode="ios" style="width: 100%;" class="">
        <ion-slide *ngFor="let item of materialList" (click)="handlePostClick(item)">
          <ion-card class="bg-1">
            <img src="/assets/img/home-landing/material.jpg"/>
            <ion-card-content style="height: 50px;">
              <ion-row>
                <h5 class="card-text">{{item.title}}</h5>
                <!--<p class="card-text" [innerHTML]="item.content"></p>-->
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
  
      <ion-title class="title-style ion-text-center"  mode="md"> <!--stellar-bg-->
        <h4 style="margin: 0%;">Experiencias de egresados</h4>
      </ion-title>
      <ion-title class="title-style ion-text-center"  mode="md">
        <p style="margin: 0%; font-size: 10px;" (click)="verMasPosts()">Ver más...</p>
      </ion-title>
      <ion-spinner name="dots" *ngIf="experiencesList?.length < 1" style="width: 100%"></ion-spinner>
      <ion-slides [options]="slideOpts" pager="true" mode="ios" style="width: 100%;" class="">
        <ion-slide *ngFor="let item of experiencesList" (click)="handlePostClick(item)">
          <ion-card class="bg-2">
            <img src="/assets/img/home-landing/expe.jpg"/>
            <ion-card-content style="height: 50px;">
              <ion-row>
                <h5 class="card-text">{{item.title}}</h5>
                <!--<p style="color: white;" [innerHTML]="item.content"></p>-->
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-list>
  </div>



</ion-content>

