<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Confirmar correo electrónico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="showSuccess">
    <ion-row class="ion-text-center">
      <ion-col>
        <h1>Muchas gracias!</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col>
        <h4>Su correo electrónico ha sido confirmado, ahora puede acceder a la aplicación.</h4>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col>
        <div style="margin: 0%; padding: 0%;">
          <ion-img src="assets/img/logo.png" style="width:30%; margin: auto; display: block;"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="errorText">
    <ion-row class="ion-text-center">
      <ion-col>
        <h4>Ha ocurrido un error por favor intente de nuevo!</h4>
        <h5>{{errorText}}</h5>
      </ion-col>
    </ion-row>
  </div>
</ion-content>