<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ios title-ios hydrated" *ngIf="props.pageTitle">{{ props.pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="single-post-home">
  <img object-fit: cover [src]="props.upperImageSrc" style="margin-top: 0%;" *ngIf="props.upperImageSrc">
  <section>
      <h2 style="margin: 0 2% 1% 2%; padding: 0%;" *ngIf="props.upperTitle">{{ props.upperTitle }}</h2>
      <p style="margin: 0 2% 0% 2%; padding: 0%; font-size: 15px;" *ngIf="props.upperSubtitle"><i>{{ props.upperSubtitle }}</i></p>
  </section>
  <section *ngIf="props.link1 || props.link2">
    <ion-grid style="margin: 0%;">
      <ion-row>
        <ion-col size="6" *ngIf="props.link1">
          <ion-button size="small" style="font-size: 11px;" expand="block">
            {{ props.link1 }}</ion-button>
        </ion-col>
        <ion-col size="6" *ngIf="props.link2">
          <ion-button size="small" style="font-size: 11px;" expand="block">
            {{ props.link2 }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
  <section>
    <ion-searchbar type="search" debounce="500" color="light" *ngIf="props.dataFilterProperty"
      (ionChange)="getItems($event)" [placeholder]="props.dataFilterPlaceholder" animated>
    </ion-searchbar>
  </section>
  <ion-list>
    <ion-grid [fixed]="true">
      <ion-row justify-content-center>
        <ion-col [size]="props.colSize"  *ngFor="let item of findedItems;">
          <ion-card button=true (click)="redirectToAction(item)">
            <img *ngIf="props.imgProperty" [src]="item[props.imgProperty]" />
              <ion-card-header>
                <ion-row>
                  <ion-col size="3" *ngIf="props.avatarImgProperty">
                    <ion-avatar class="avatar-style" >
                      <img [src]="item[props.avatarImgProperty]">
                    </ion-avatar>
                  </ion-col>
                  <ion-col size="9" *ngIf="props.avatarTitleProperty || props.avatarSubtitleProperty">
                    <h5 class="user-title-style" *ngIf="props.avatarTitleProperty"> {{item[props.avatarTitleProperty]}} </h5>
                    <p  class="datetime-style" *ngIf="props.avatarSubtitleProperty"><i> {{item[props.avatarSubtitleProperty]}}</i> </p>
                  </ion-col>
                </ion-row>
              </ion-card-header>
              <ion-card-title *ngIf="props.titleProperty">
                <h3 style="margin: 0%;">{{ item[props.titleProperty] }}</h3>
                <h6 style="margin: 0%; text-align: justify;">{{ item[props.subtitleProperty] }}</h6>
              </ion-card-title>
              <ion-button fill="outline" slot="end">View</ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-segment style="height: 100%" *ngIf="loadingData">
      <div class="ion-text-center">
        <ion-spinner name="bubbles"></ion-spinner>
      </div>
  </ion-segment>
    
</ion-content>